@import url(reset.css);

body{
  font-weight: normal;
  font-size: 15px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  color: #464646;
}

h1,
h2 {
  font-size: 47px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  color: #000000;
}